// Font sizes
$font-size-desktop-small: 0.75rem;
$font-size-desktop-p: 1rem;
$font-size-desktop-h6: 1.1rem;
$font-size-desktop-h5: 1.2rem;
$font-size-desktop-h4: 1.5rem;
$font-size-desktop-h3: 1.8rem;
$font-size-desktop-h2: 2rem;
$font-size-desktop-h1: 2.2rem;
$font-size-desktop-splash: 5rem;

// Font weights
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Line heights
$line-height-sm: 20px;
$line-height-md: 30px;
$line-height-md-lg: 35px;
$line-height-lg: 40px;
$line-height-xl: 50px;
$line-height-xxl: 60px;

// Text shadows
$text-shadow-base: 0px 0px 10px rgba(0, 0, 0, 0.4);
$text-shadow-tight: 0px 0px 5px rgba(0, 0, 0, 0.8);
$text-shadow-spread: 0px 0px 20px rgba(0, 0, 0, 0.8);
